.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.hero_img {
   background: #d8d8d8;
   border-radius: 10px;
   border: 30px solid #d8d8d8;
   position: relative;
   width: 50%;
   height: 100%;
}

.content {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 60%;
   width: 85%;
}

.hero_title {
   height: 100%;
   display: flex;
   place-items: center;
}
