.page {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   width: 70%;
   margin: 0 auto;
}
.property_img {
   position: relative;
   width: 100%;
}

.main_img {
   max-width: 100%;
   border-radius: 40px;
}

.info {
   display: flex;
   justify-content: space-between;
}

.img_container {
   position: relative;
}

.carousel {
   display: flex;
   position: absolute;
   bottom: 0;
   /* padding: 0.5rem; */
}

.carousel_img {
   width: 100%;
   height: 80px;
}
